.button{
    -fx-border-color: black;
}
.button:hover{
    -fx-border-color:red;
}

.aliveButton{
    -fx-background-color: green;
}

.killButton{
    -fx-background-color: red;
}
.mimoButton{
    -fx-background-color: yellow;
}

.ready{
    -fx-font-size: 15px;
}

.ready:hover{
    -fx-background-color: #00FF00;
    -fx-border-width: 2px;
    -fx-border-color: black;
}

.ready:pressed{
    -fx-background-color: yellow;
}

.anchor {
    -fx-background-image: url("../image/menu.jpg");
}
.red_label{
    -fx-background-color: #DC143C;
}

.field_in_connect{
    -fx-border-width: 2;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.field_in_connect:focused{
    -fx-border-color: #FF0000;
}

.btn_in_connect{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.btn_in_connect:hover{
    -fx-background-color: #A9A9A9;
}
.btn_in_connect:pressed{
    -fx-background-color: #00FF00;
}

.timer{
    -fx-font-size: 20;
}

.whoIsMove{
    -fx-font-size: 50;
}